html {
  font-family: 'Garamond', serif;
  font-size: 100%;
  text-decoration: none !important;
}

a, a:link, a:active, a:visited {
  text-decoration: none !important;
  color: ;
  background: ;
}

a:hover {
  text-decoration: none !important;
  color: ;
  background: ;
}
