/* BÁSICO */
html {
  font-family: 'Garamond', serif;
  font-size: 100%;
  text-decoration: none !important;
}

body {
  margin: 0 !important;
  width: 100%;
  
}  

a, a:link, a:active, a:visited {
  text-decoration: none !important;
  color: ;
  background: ;
}

a:hover {
  text-decoration: none !important;
  color: ;
  background: ;
}

/* IDS */

/* desktop 1366x798 */

#topo {
  width: 100%;
}

#estudio {
  width: 100%;
  background: #EDE7DD;
}

#artesa {
  width: 100%;
  
}

#loja {
  width: 100%;
  
}

#textos {
  width: 100%;
  
}

#newsletter {
  width: 100%;
  
}

/* CLASSES */
